# ModelSim/Questa Build Artifacts
work/
altera_lnsim/
altera_mf/
*.wlf
transcript
*.cr.mti
*.mpf
modelsim.ini

# Quartus Build Artifacts
Quartus/db/
Quartus/incremental_db/
Quartus/output_files/*.rpt
Quartus/output_files/*.smsg
Quartus/output_files/*.summary
Quartus/output_files/*.done
Quartus/simulation/
*.qdb
*.qtl
*.qpg
*.bak

# OS Files
.DS_Store

